name: Run Linguist

on: workflow_dispatch

env:
  REPO: pulibrary/ExcelAlmaLookup  # Define the repository here
  OPTIONS: ''       # Define the options for Linguist here

jobs:
  run-linguist:
    name: Run Linguist
    runs-on: ubuntu-latest
    steps:
      - name: Install Linguist
        run: gem install github-linguist
        shell: bash    

      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ env.REPO }}
          ref: refs/heads/release

      - name: Run Linguist
        run: |
          repo_name=$(basename ${{ env.REPO }})
          cd $repo_name
          github-linguist ${{ env.OPTIONS }}
        shell: bash


    # - name: Checkout Linguist
    #   uses: actions/checkout@v4
    #   with:
    #     name: '${{ inputs.repo }}'
    #     ref: refs/heads/release
    # - name: Test Linguist
    #   run: |
    #     cd github-linguist
    #     bundle exec rake test
    #     cd ..
    #   shell: bash