name: Run Linguist

on: 
  workflow_dispatch:
    inputs:
      repo:
        description: "The slug of the repo."
        required: true
        
env:
  OPTIONS: '--breakdown'       # Define the options for Linguist here

jobs:
  run-linguist:
    runs-on: ubuntu-latest
    steps:

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2 # Alternatively, can be specified with a .ruby-version file
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically    
    
    - name: Validate Repo Input
      run: |
        REPO=${{ github.event.inputs.repo }}
        # Remove https://github.com/ if present
        REPO=$(echo $REPO | sed 's|^https://github.com/||')
        echo "REPO=$REPO" >> $GITHUB_ENV
      shell: bash

    - name: Clone Repo
      run: |
        mkdir repo
        cd repo
        git clone "https://github.com/${{ env.REPO }}"
        cd ..
      shell: bash    

    - name: Run Linguist
      run: |
        REPO_NAME=$(echo "${{ env.REPO }}" | cut -d'/' -f2)
        echo $REPO_NAME
        bundle exec github-linguist repo/$REPO_NAME $OPTIONS
      shell: bash
